//If you want to use this file, duplicate it and rename it to config.h and fill in the values. Please don't commit your config.h file to the repository.
#pragma once

// WiFi configuration
#define WIFI_SSID "YOUR_WIFI_SSID"
#define WIFI_PASSWORD "TU_PASSWORD"

// MQTT configuration

#define MQTT_BROKER_ADRRESS [] = "test.mosquitto.org";  // CHANGE TO MQTT BROKER'S ADDRESS
#define MQTT_PORT = 1883;
#define MQTT_CLIENT_ID [] = "YOUR-NAME-esp32-001";      // CHANGE IT AS YOU DESIRE
#define MQTT_USERNAME [] = "";                          // CHANGE IT IF REQUIRED, empty if not required
#define MQTT_PASSWORD [] = "";                          // CHANGE IT IF REQUIRED, empty if not required